
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lustria", Georgia, "Times New Roman", serif;
}

a {
  text-decoration: none;
  color: #055dac;
}
