<!-- ================= BANNER / HERO SECTION ================= -->
<section class="ma-hero">
  <!-- Big blue background / image wrapper -->
  <div class="ma-hero-bg">
    <!-- Your blue background image (optional) -->
    <!-- Put your background here if you want an image instead of gradient -->
    <!-- Example: background-image is handled in CSS -->
  </div>



  <!-- Wave white shape at bottom -->
  <div class="ma-hero-wave"></div>

  <div class="ma-hero-inner">
    <!-- LEFT TEXT AREA -->
    <div class="ma-hero-left">


      <h1 class="ma-hero-title">
        Practice Areas
      </h1>





    </div>

    <!-- RIGHT IMAGE AREA -->

  </div>
</section>
<!-- ==========our-service=========== -->
<section class="srv-section">
  <div class="srv-inner">
    <h2 class="srv-heading">Our Practice Areas</h2>

    <div class="srv-grid">
      <!-- CARD 1 -->
      <div class="srv-card">
        <div class="srv-image-wrap">
          <img src="https://devanttest.in/cs_test/assets/images/Mask group (20)-1763559093823-5945.webp"
            alt="Corporate Law" />
          <div class="srv-icon-circle">
            <img src="https://devanttest.in/cs_test/assets/images/pa1.gif" alt="Corporate Law" />
          </div>
        </div>

        <h3 class="srv-title">Company Law</h3>
        <p class="srv-text">
        Mastering the nuances of company law, we deliver tailored solutions for corporate success. From formations to
        compliance, our expertise ensures your business thrives within legal bounds.
        </p>


      </div>



      <!-- CARD -->
      <div class="srv-card">
        <div class="srv-image-wrap">
          <img src="https://devanttest.in/cs_test/assets/images/Mask group (21)-1763559093824-6791.webp"
            alt="Corporate Law" />
          <div class="srv-icon-circle">
            <img src="https://devanttest.in/cs_test/assets/images/pa2.gif" alt="Corporate Law" />
          </div>
        </div>

        <h3 class="srv-title">Insolvency Law</h3>
        <p class="srv-text">
          Mastering the nuances of insolvency law, we provide strategic counsel and solutions for navigating financial
          complexities. Our firm offers tailored expertise.
        </p>


      </div>


      <!-- CARD -->
      <div class="srv-card">
        <div class="srv-image-wrap">
          <img src="https://devanttest.in/cs_test/assets/images/Mask group (22)-1763559093826-1886.webp"
            alt="Corporate Law" />
          <div class="srv-icon-circle">
            <img src="https://devanttest.in/cs_test/assets/images/pa3.gif" alt="Corporate Law" />
          </div>
        </div>

        <h3 class="srv-title">Securities Law</h3>
        <p class="srv-text">
          Navigating complexities with precision, our securities law expertise ensures compliant solutions for your
          financial
          ambitions. From IPOs to regulatory compliance.
        </p>


      </div>

      <!-- CARD -->
      <div class="srv-card">
        <div class="srv-image-wrap">
          <img src="https://devanttest.in/cs_test/assets/images/Mask group (23)-1763559093827-5669.webp"
            alt="Corporate Law" />
          <div class="srv-icon-circle">
            <img src="https://devanttest.in/cs_test/assets/images/pa4.gif" alt="Corporate Law" />
          </div>
        </div>

        <h3 class="srv-title">Valuation Services</h3>
        <p class="srv-text">
          Unlocking the true worth of your assets with precision and insight. Our valuation services offer comprehensive
          assessments tailored to your financial strategy and decision-making needs,ensureing informed decisions.
        </p>


      </div>


      <!-- CARD -->
      <div class="srv-card">
        <div class="srv-image-wrap">
          <img src="https://devanttest.in/cs_test/assets/images/Mask group (24)-1763559093827-4887.webp"
            alt="Corporate Law" />
          <div class="srv-icon-circle">
            <img src="https://devanttest.in/cs_test/assets/images/pa5.gif" alt="Corporate Law" />
          </div>
        </div>

        <h3 class="srv-title">FEMA</h3>
        <p class="srv-text">
          Navigate FEMA regulations confidently with our seasoned legal counsel. Our firm offers tailored guidance and
          strategic
          support to ensure compliance.
        </p>


      </div>

      <!-- CARD -->
      <div class="srv-card">
        <div class="srv-image-wrap">
          <img src="https://devanttest.in/cs_test/assets/images/Mask group (25)-1763559093828-9232.webp"
            alt="Corporate Law" />
          <div class="srv-icon-circle">
            <img src="https://devanttest.in/cs_test/assets/images/pa6.gif" alt="Corporate Law" />
          </div>
        </div>

        <h3 class="srv-title">Arbitration & Conciliation</h3>
        <p class="srv-text">
          We resolve disputes through arbitration and conciliation, with expertise in international arbitration,
          corporate
          litigation, structuring, and transactions.
        </p>


      </div>

      <!-- CARD -->
      <div class="srv-card">
        <div class="srv-image-wrap">
          <img src="https://devanttest.in/cs_test/assets/images/Mask group (26)-1763559093829-9821.webp"
            alt="Corporate Law" />
          <div class="srv-icon-circle">
            <img src="https://devanttest.in/cs_test/assets/images/pa7.gif" alt="Corporate Law" />
          </div>
        </div>

        <h3 class="srv-title">Drafting</h3>
        <p class="srv-text">
          Precision in every word. Our drafting services ensure meticulous attention to detail, crafting documents
          tailored to
          your needs with expertise and finesse.
        </p>


      </div>
      <!-- CARD -->
      <div class="srv-card">
        <div class="srv-image-wrap">
          <img src="https://devanttest.in/cs_test/assets/images/Mask group (27)-1763559093830-3533.webp"
            alt="Corporate Law" />
          <div class="srv-icon-circle">
            <img src="https://devanttest.in/cs_test/assets/images/pa1.gif" alt="Corporate Law" />
          </div>
        </div>

        <h3 class="srv-title">Economic & Competition Law</h3>
        <p class="srv-text">
          Economic & Competition Law Navigating the complex landscape of economic and competition law, we offer
          strategic counsel
          and solutions.
        </p>


      </div>




    </div>

  </div>
</section>

<!-- ===============key-highlights============= -->
<!-- Key Highlights SECTION -->
<section class="kh-section">
  <div class="kh-inner">
    <h2 class="kh-title">Key Highlights</h2>

    <div class="kh-grid">
      <!-- Card 1 -->
      <div class="kh-card">
        <div class="kh-icon-wrap">
          <div class="kh-icon-circle">
            <i class="fa-solid fa-users"></i>
          </div>
        </div>
        <h3 class="kh-card-title">
          Qualified and<br />Experienced team
        </h3>
        <p class="kh-card-text">
          Experienced team of Company Secretaries, Chartered Accountants and
          Law Graduates join hands together to provide Value added services.
        </p>
      </div>

      <!-- Card 2 -->
      <div class="kh-card">
        <div class="kh-icon-wrap">
          <div class="kh-icon-circle">
            <i class="fa-solid fa-lightbulb"></i>
          </div>
        </div>
        <h3 class="kh-card-title">One stop solution</h3>
        <p class="kh-card-text">
          From strategy to execution, we deliver end-to-end services tailored
          to your goals. Save time and resources with our integrated approach—
          no need to juggle multiple vendors.
        </p>
      </div>

      <!-- Card 3 -->
      <div class="kh-card">
        <div class="kh-icon-wrap">
          <div class="kh-icon-circle">
            <i class="fa-solid fa-hand-holding-heart"></i>
          </div>
        </div>
        <h3 class="kh-card-title">Value Addition</h3>
        <p class="kh-card-text">
          We don’t just meet expectations—we redefine them. Through innovative
          solutions, cost efficiency, and relentless dedication, we deliver ROI
          that speaks for itself.
        </p>
      </div>
    </div>
  </div>
</section>
